@model SHM.AppWebHonorarioMedico.Models.SedeCreateViewModel

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <h5 class="modal-title text-white">
                    <i class="fas fa-plus-circle mr-2"></i>Nueva Sede
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="createForm">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="create_Codigo">Codigo <span class="text-danger">*</span></label>
                                <input type="text" id="create_Codigo" class="form-control" maxlength="5" required
                                       placeholder="Ej: 001" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="create_Nombre">Nombre <span class="text-danger">*</span></label>
                                <input type="text" id="create_Nombre" class="form-control" maxlength="100" required
                                       placeholder="Ej: Sede Principal" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="create_Ruc">RUC</label>
                                <input type="text" id="create_Ruc" class="form-control only-numbers" maxlength="20"
                                       placeholder="Ej: 20123456789" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="create_Direccion">Direccion</label>
                                <input type="text" id="create_Direccion" class="form-control" maxlength="300"
                                       placeholder="Ej: Av. Principal 123" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times mr-1"></i>Cancelar
                    </button>
                    <button type="button" class="btn btn-morado" onclick="submitCreate()">
                        <i class="fas fa-save mr-1"></i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
