@model SHM.AppWebHonorarioMedico.Models.ParametroCreateViewModel

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-morado">
                <h5 class="modal-title text-white">
                    <i class="fas fa-plus-circle mr-2"></i>Nuevo Parametro
                </h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="createForm">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="create_Codigo">Codigo <span class="text-danger">*</span></label>
                                <input type="text" id="create_Codigo" class="form-control" maxlength="100" required
                                       placeholder="Ej: CORREO_ADMIN" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="create_Valor">Valor</label>
                                <input type="text" id="create_Valor" class="form-control" maxlength="512"
                                       placeholder="Ej: admin@correo.com" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="create_Descripcion">Descripcion</label>
                                <textarea id="create_Descripcion" class="form-control" maxlength="1024" rows="2"
                                          placeholder="Descripcion del parametro"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times mr-1"></i>Cancelar
                    </button>
                    <button type="button" class="btn btn-morado" onclick="submitCreate()">
                        <i class="fas fa-save mr-1"></i>Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
