  <!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 sidebar-mini"  style="background-color:#5d1665; height:auto">

    <!-- Brand Logo -->
    <a href="#" class="brand-link" style="background-color:#ffffff!important">
        <img src="~/images/icono_logo.png" class="brand-image img-circle elevation-3" />
        <span class="brand-text" style="color: #5d1665; font-size:1rem">Sistema de Honorarios M.</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <div id="app-divloading" name="app-divloading" class="app-loading">
            <div class="d-flex justify-content-center">
                <div class="app-loading-image text-white" style="width: 5rem; height: 5rem;" role="status">
                    <div class="overlay"><i class="fas fa-5x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
                </div>
            </div>
        </div>

        <!-- Sidebar user panel (optional)
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            Bien Venido<br />
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>
        -->
        <!-- SidebarSearch Form
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>
        -->


        <div id="app-menu-usuario"></div>

    </div>
    <!-- /.sidebar -->
</aside>

